{% extends 'base.html' %}
{% load board_filter %}
{% block content%}
<div class="container my-3">
    <section id="question_list">
        <!-- 검색 입력 상자 -->
        <div class="row mb-2 justify-content-end">
            <div class="col-6"></div>
                <div class="col-4 d-flex justify-content-end">
                    <input type="text" class="kw form-control"
                        value="{{ kw }}">
                <div class="col-2 input-group-append mx-1">
                    <button type="button" id="btn_search"
                        class="btn btn-outline-secondary">찾기</button>
                </div>
            </div>
        </div>

        <!-- 질문/답변 목록 -->
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>번호<th>제목</th><th>작성일시</th><th>글쓴이</th>
                </tr>
            </thead>
            <tbody>
                {% if question_list%}
                    {% for question in question_list %}
                    <tr>
                        <!-- <td>{{ forloop.counter|add:3 }}</td> --> <!-- 1부터 번호 시작 -->
                        <!-- 탬플릿 태그 -->
                        <!-- 1페이지 13~, 2페이지 3~1
                             13 - 1(시작인덱스1, 11, 21) - (0~9:현재 인덱스) + 1 = 13
                             question_list.count - 전체 게시글 수
                         -->
                        <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                        <td>
                            <a href="{% url 'board:detail' question.id %}">
                               {{ question.subject }}
                            </a>
                        </td>
                        <td>{{ question.create_date }}</td>
                        <td>{{ question.author }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>질문이 없습니다.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <!-- 페이지 처리 영역 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if question_list.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ question_list.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <!-- 이전 페이지가 없어도 표시됨 -->
                 <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
            {% endif %}
            <!-- 현재 페이지 -->
            {% for page_number in question_list.paginator.page_range %}
                <!-- 현재 페이지와 리스트의 페이지가 일치하면 활성화함 -->
                {% if page_number == question_list.number %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if question_list.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ question_list.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <!-- 이전 페이지가 없어도 표시됨 -->
                 <li class="page-item disabled">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이지 처리 끝 -->
        <!-- 질문 등록 메뉴 -->
        <a href="{% url 'board:question_create' %}"
            class="btn btn-primary">질문 등록</a>
        <!-- 검색 폼 만들기 -->
        <form action="" method="get" id="searchForm">
            {% csrf_token %}
            <input type="hidden" id="kw" name="kw" value="{{ kw }}">
        </form>
    </section>
</div>
{% endblock %}

{% block script %}
<script>
    $(function(){
        // 검색 처리
        $('#btn_search').click(function(){
            $('#kw').val($('.kw').val());   // 입력폼에서 입력된 키워드를 hidden 타입
            $('#searchForm').submit();      // 폼을 전송함 - view로
        });
    });
</script>
{% endblock %}