{% extends 'base.html' %}
{% block title %}로그인 폼입니다.
{% endblock %}
{% block content %}
<div class="container">
  <section id="login">
      <div class="row">
          <div class="col-4">
              <h4>로그인</h4>
          </div>
          <div class="col-8 text-end">
              <span>
                  또는 <a href="{% url 'common:signup' %}">계정을 만드세요</a>
              </span>
          </div>
      </div>
      <!-- 로그인 폼 -->
      <form action="" method="post">
          {% csrf_token %}
          {% include 'form_errors.html' %}
          <div class="form-group">
              <label for="username">사용자ID</label>
              <input type="text" id="username" name="username"
                     class="form-control"
                     value="{{ form.username.value|default_if_none:'' }}">
          </div>
          <div class="form-group">
              <label for="password">비밀번호</label>
              <input type="password" id="password" name="password"
                     class="form-control"
                     value="{{ form.password.value|default_if_none:'' }}">
          </div>
          <button type="submit" class="btn btn-primary mt-2">로그인</button>
      </form>
  </section>
</div>
{% endblock %}