{% extends 'base.html' %}
{% block content %}
<div class="container">
  <section id="login">
      <div class="row">
        <div class="col-4">
            <h4>회원 가입</h4>
        </div>
        <div class="col-8 text-end">
            <span>
                또는 <a href="{% url 'common:login' %}">로그인 하세요</a>
            </span>
        </div>
      </div>
      <!-- 회원가입 폼 -->
      <form action="" method="post">
          {% csrf_token %}
          {% include 'form_errors.html' %}
          <div class="form-group my-2">
             <label for="username" class="mb-1">사용자ID</label>
             <input type="text" id="username" name="username"
                    class="form-control"
                    value="{{ form.subject.value|default_if_none:'' }}">
      </div>
          <div class="form-group my-2">
            <label for="password1" class="mb-1">비밀번호</label>
            <input type="password" id="password1" name="password1"
                class="form-control"
                value="{{ form.password1.value|default_if_none:'' }}">
      </div>
      <div class="form-group my-2">
          <label for="password2" class="mb-1">비밀번호 확인</label>
          <input type="password" id="password2" name="password2"
                 class="form-control"
                 value="{{ form.password2.value|default_if_none:'' }}">
      </div>
          <div class="form-group my-2">
          <label for="last_name" class="mb-1">이름</label>
          <input type="text" id="last_name" name="last_name"
                 class="form-control"
                 value="{{ form.last_name.value|default_if_none:'' }}">
      </div>
          <div class="form-group my-2">
          <label for="email" class="mb-1">이메일</label>
          <input type="text" id="email" name="email"
                 class="form-control"
                 value="{{ form.email.value|default_if_none:'' }}">
      </div>
      <button type="submit" class="btn btn-primary mt-2">가입하기</button>
      </form>
  </section>
</div>
{% endblock %}