@charset 'utf-8';

a{text-decoration: none;}

/* post_list 스타일 */
#post_list{width: 700px; float: left;}

/* detail 스타일 */
#detail{width: 700px; float: left;}

/* 카테고리 스타일 */
#category{width: 200px; float: right;
    margin: 20px 100px 0 0;}
#category ul li{margin: 5px;}